In [368]:
# Import libraries
import pandas as pd
import datetime

In [369]:
# Load data with ferry stop times and location
df = pd.read_csv('data\google_transit\stop_times.txt')

# Load data with stop long lat
df_stops = pd.read_csv('data\google_transit\stops.txt')

In [370]:
# Create data frame with all possible times slots and respective time id
start_time = '4:45:00' # start time
end_time = '23:00:00' # end time
time_str_lst = pd.date_range(start_time, end_time, freq = '5min') # generate list with 5 min interval
time_lst = time_str_lst.strftime('%H:%M:%S') # modifty list to date.time format

df_times_reference = pd.DataFrame(data = time_lst, columns = ['time']) # create dataframe
df_times_reference['time_id'] = range(0, len(df_times_reference)) # add time_id reference

In [371]:
# Merge ferry stop times and stop long lat
df = pd.merge(df, df_stops, on = 'stop_id').sort_values('trip_id')

# Change name of time variable
df = df.rename(columns = {'arrival_time' : 'time'})

# Change "time" parameter from string to timestamp format
try:
    df['time'] = pd.to_datetime(df['time'])
except Exception:
    pass

# Round data to closest 5 min increment
try:
    df['time'] = pd.Series(df['time']).dt.round('5T')
except Exception:
    pass

# Remove date
for i in range(0,len(df)):
    df['time'][i] = df['time'][i].time()

# Change format to string
for i in range(0,len(df)):
    df['time'][i] = df['time'][i].strftime('%H:%M:%S')

# Add time references
df = pd.merge(df, df_times_reference, on = 'time', how = 'left')

C:\Users\matth\AppData\Local\Temp\ipykernel_11600\3531524977.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time'][i] = df['time'][i].time()
C:\Users\matth\AppData\Local\Temp\ipykernel_11600\3531524977.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time'][i] = df['time'][i].time()
C:\Users\matth\AppData\Local\Temp\ipykernel_11600\3531524977.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time'][i] = df['time'][i].strftime('%H:%M:%S')

In [372]:
df[df['trip_id'] == 1].sort_values('stop_sequence')

,trip_id,time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,timepoint,stop_code,stop_name,stop_lat,stop_lon,time_id
0,1,06:10:00,06:09:00,87,1,NaN,0,0,1,2319811.0,Wall St/Pier 11,40.703052,-74.006057,17
4,1,06:15:00,06:17:00,20,2,NaN,0,0,1,2319810.0,Dumbo/Fulton Ferry,40.703540,-73.995763,18
3,1,06:30:00,06:29:00,8,3,NaN,0,0,1,2319809.0,South Williamsburg,40.708570,-73.970169,21
2,1,06:35:00,06:37:00,19,4,NaN,0,0,1,2319808.0,North Williamsburg,40.720838,-73.964902,22
1,1,06:50:00,06:49:00,17,5,NaN,0,0,1,2319805.0,East 34th Street,40.743912,-73.970731,25
5,1,06:50:00,06:52:00,4,6,NaN,0,0,1,2319806.0,Hunters Point South,40.741838,-73.961322,25