In [4]:
import pandas as pd

In [30]:
df = pd.read_csv('data\google_transit\stop_times.txt')

df

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,timepoint
0,1,06:09:00,06:09:00,87,1,NaN,0,0,1
1,1,06:17:00,06:17:00,20,2,NaN,0,0,1
2,1,06:29:00,06:29:00,8,3,NaN,0,0,1
3,1,06:37:00,06:37:00,19,4,NaN,0,0,1
4,1,06:49:00,06:49:00,17,5,NaN,0,0,1
...,...,...,...,...,...,...,...,...,...
3994,2262,05:04:00,05:04:00,52,5,NaN,0,0,1
3995,2262,05:06:00,05:06:00,53,6,NaN,0,0,1
3996,2262,05:12:00,05:12:00,16,7,NaN,0,0,1
3997,2288,05:16:00,05:16:00,16,1,NaN,0,0,1
3998,2288,05:31:00,05:31:00,48,2,NaN,0,0,1

In [31]:
# Change name of time variable
df = df.rename(columns = {'arrival_time' : 'time'})

# Change "time" parameter from string to datetime format
df['time'] = pd.to_datetime(df['time']).dt.time

df

KeyError: 'arrival_time'

In [20]:
print(df['time'].min())

KeyError: 'time'

In [ ]:
df

          time  trip_id  stop_id  stop_sequence   latitude  longitude
0     06:10:00        1       87              1  40.703052 -74.006057
1     06:15:00        1       20              2  40.703540 -73.995763
2     06:30:00        1        8              3  40.708570 -73.970169
3     06:35:00        1       19              4  40.720838 -73.964902
4     06:50:00        1       17              5  40.743912 -73.970731
...        ...      ...      ...            ...        ...        ...
3605  05:00:00     2262       49              2  40.566157 -73.872477
3606  05:05:00     2262       52              5  40.576657 -73.846073
3607  05:10:00     2262       16              7  40.583846 -73.831658
3608  05:15:00     2288       16              1  40.583846 -73.831658
3609  05:30:00     2288       48              2  40.567116 -73.882607

[3610 rows x 6 columns]

In [ ]:
df1

            time  time_id
0     4:45:00 AM        0
1     4:50:00 AM        1
2     4:55:00 AM        2
3     5:00:00 AM        3
4     5:05:00 AM        4
..           ...      ...
215  10:40:00 PM      215
216  10:45:00 PM      216
217  10:50:00 PM      217
218  10:55:00 PM      218
219  11:00:00 PM      219

[220 rows x 2 columns]

In [ ]:
df_merge = pd.merge(df, df1, on = 'time', how = 'left')

df_merge

,time,trip_id,stop_id,stop_sequence,latitude,longitude,time_id
0,6:10:00 AM,1,87,1,40.703052,-74.006057,17
1,6:15:00 AM,1,20,2,40.703540,-73.995763,18
2,6:30:00 AM,1,8,3,40.708570,-73.970169,21
3,6:35:00 AM,1,19,4,40.720838,-73.964902,22
4,6:50:00 AM,1,17,5,40.743912,-73.970731,25
...,...,...,...,...,...,...,...
3605,5:00:00 AM,2262,49,2,40.566157,-73.872477,3
3606,5:05:00 AM,2262,52,5,40.576657,-73.846073,4
3607,5:10:00 AM,2262,16,7,40.583846,-73.831658,5
3608,5:15:00 AM,2288,16,1,40.583846,-73.831658,6
3609,5:30:00 AM,2288,48,2,40.567116,-73.882607,9

In [ ]:
export_lst = ['time', 'trip_id', 'latitude', 'longitude','time_id']

df_export = df_merge[export_lst]


df_export.to_csv(r'stop-times.csv', index = False, header=True)