In [21]:
# Import libraries
import pandas as pd
import datetime

In [24]:
# Load data with ferry stop times and location
df = pd.read_csv('data\google_transit\stop_times.txt')

# Load data with stop long lat
df_stops = pd.read_csv('data\google_transit\stops.txt')

df

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,timepoint
0,1,06:09:00,06:09:00,87,1,NaN,0,0,1
1,1,06:17:00,06:17:00,20,2,NaN,0,0,1
2,1,06:29:00,06:29:00,8,3,NaN,0,0,1
3,1,06:37:00,06:37:00,19,4,NaN,0,0,1
4,1,06:49:00,06:49:00,17,5,NaN,0,0,1
...,...,...,...,...,...,...,...,...,...
3994,2262,05:04:00,05:04:00,52,5,NaN,0,0,1
3995,2262,05:06:00,05:06:00,53,6,NaN,0,0,1
3996,2262,05:12:00,05:12:00,16,7,NaN,0,0,1
3997,2288,05:16:00,05:16:00,16,1,NaN,0,0,1
3998,2288,05:31:00,05:31:00,48,2,NaN,0,0,1

In [28]:
# Merge ferry stop times and stop long lat
df = pd.merge(df, df_stops, on = 'stop_id', sort = 'stop_sequence').sort_values('trip_id')

df

C:\Users\matth\AppData\Local\Temp\ipykernel_11600\2262669618.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'stop_lon_x', 'stop_code_x', 'stop_lat_x', 'stop_name_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = pd.merge(df, df_stops, on = 'stop_id', sort = 'stop_sequence').sort_values('trip_id')

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,timepoint,stop_code_x,...,stop_lat_y,stop_lon_y,stop_code_x,stop_name_x,stop_lat_x,stop_lon_x,stop_code_y,stop_name_y,stop_lat_y,stop_lon_y
0,1,06:52:00,06:52:00,4,6,NaN,0,0,1,2319806.0,...,40.741838,-73.961322,2319806.0,Hunters Point South,40.741838,-73.961322,2319806.0,Hunters Point South,40.741838,-73.961322
1997,1,06:09:00,06:09:00,87,1,NaN,0,0,1,2319811.0,...,40.703052,-74.006057,2319811.0,Wall St/Pier 11,40.703052,-74.006057,2319811.0,Wall St/Pier 11,40.703052,-74.006057
938,1,06:17:00,06:17:00,20,2,NaN,0,0,1,2319810.0,...,40.703540,-73.995763,2319810.0,Dumbo/Fulton Ferry,40.703540,-73.995763,2319810.0,Dumbo/Fulton Ferry,40.703540,-73.995763
797,1,06:37:00,06:37:00,19,4,NaN,0,0,1,2319808.0,...,40.720838,-73.964902,2319808.0,North Williamsburg,40.720838,-73.964902,2319808.0,North Williamsburg,40.720838,-73.964902
492,1,06:49:00,06:49:00,17,5,NaN,0,0,1,2319805.0,...,40.743912,-73.970731,2319805.0,East 34th Street,40.743912,-73.970731,2319805.0,East 34th Street,40.743912,-73.970731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680,2262,05:06:00,05:06:00,53,6,NaN,0,0,1,NaN,...,40.579947,-73.836462,NaN,Rockaway Beach Blvd/B. 115th St,40.579947,-73.836462,NaN,Rockaway Beach Blvd/B. 115th St,40.579947,-73.836462
490,2262,05:12:00,05:12:00,16,7,NaN,0,0,1,NaN,...,40.583846,-73.831658,NaN,Beach Channel Dr/B. 108th St,40.583846,-73.831658,NaN,Beach Channel Dr/B. 108th St,40.583846,-73.831658
1648,2262,05:04:00,05:04:00,52,5,NaN,0,0,1,NaN,...,40.576657,-73.846073,NaN,Rockaway Beach Blvd/B. 127th St,40.576657,-73.846073,NaN,Rockaway Beach Blvd/B. 127th St,40.576657,-73.846073
1504,2288,05:31:00,05:31:00,48,2,NaN,0,0,1,NaN,...,40.567116,-73.882607,NaN,Rockaway Point Blvd/B. 169th St,40.567116,-73.882607,NaN,Rockaway Point Blvd/B. 169th St,40.567116,-73.882607
491,2288,05:16:00,05:16:00,16,1,NaN,0,0,1,NaN,...,40.583846,-73.831658,NaN,Beach Channel Dr/B. 108th St,40.583846,-73.831658,NaN,Beach Channel Dr/B. 108th St,40.583846,-73.831658

In [4]:
# Create data frame with all possible times slots and respective time id
start_time = '4:45:00' # start time
end_time = '23:00:00' # end time
time_str_lst = pd.date_range(start_time, end_time, freq = '5min') # generate list with 5 min interval
time_lst = time_str_lst.strftime('%H:%M:%S') # modifty list to date.time format

df_times_reference = pd.DataFrame(data = time_lst, columns = ['time']) # create dataframe
df_times_reference['time_id'] = range(0, len(df_times_reference)) # add time_id reference

In [5]:
# Change name of time variable
df = df.rename(columns = {'arrival_time' : 'time'})

# Change "time" parameter from string to timestamp format
try:
    df['time'] = pd.Timestamp(df['time'])
except Exception:
    pass

# Subset to relevent data
df_time = df[['trip_id','time']]

# Subset stop_id data
df_stop_id = df[['trip_id','stop_id','stop_lat','stop_lon']]

In [6]:
df_time = pd.merge(df, df_times_reference, on = 'time', how = 'left')

In [7]:
df_time = df_time.groupby('trip_id')['time'].apply(list).reset_index(name='time')

df_stop_id = df_stop_id.groupby('trip_id')['stop_id'].apply(list).reset_index(name='stop_id')

df = pd.merge(df_time,df_stop_id, on = 'trip_id', how = 'inner')

In [8]:
pd.merge(pd.DataFrame(df.loc[1]).transpose().explode(['time','stop_id']),df_times_reference, on = 'time', how = 'right')

    trip_id      time stop_id  time_id
0       NaN  04:45:00     NaN        0
1       NaN  04:50:00     NaN        1
2       NaN  04:55:00     NaN        2
3       NaN  05:00:00     NaN        3
4       NaN  05:05:00     NaN        4
..      ...       ...     ...      ...
215     NaN  22:40:00     NaN      215
216     NaN  22:45:00     NaN      216
217     NaN  22:50:00     NaN      217
218     NaN  22:55:00     NaN      218
219     NaN  23:00:00     NaN      219

[220 rows x 4 columns]

In [9]:
export_lst = ['time', 'trip_id', 'latitude', 'longitude','time_id']

df_export = df_merge[export_lst]


df_export.to_csv(r'stop-times.csv', index = False, header=True)

NameError: name 'df_merge' is not defined